<!DOCTYPE html>
<html layout:decorate="~{default}">
  <head>
    <title>Login</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1>Login</h1>
      <div th:if="${param.error}">
        Invalid username and password.
      </div>
      <div th:if="${param.loggedOut}">
        You have been logged out.
      </div>
      <form th:action="@{/login}" method="post">
        <div>
          <label for="email">Email:</label>
          <input id="email" name="email" type="email" />
        </div>
        <div>
          <label for="password">Password:</label>
          <input id="password" name="password" type="password" />
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
