<!DOCTYPE html>
<html layout:decorate="~{default}">
  <head>
    <title>Referendums</title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1>Referendums</h1>
      <p>Make a <a th:href="@{/referendums/new}">new referendum</a></p>
      <ul>
        <li th:each="ref : ${referendums}">
          <p th:text="${ref.question}">What about this thing?</p>
          <p th:text="${ref.description}">What about this thing?</p>
          <p>
            <span th:each="cat : ${ref.categories}"
              ><em th:text="${cat.name}"></em>&nbsp;</span
            >
          </p>
          <a th:href="@{/referendums/{id}(id=${ref.id})}">Read more...</a>
        </li>
      </ul>
    </div>
  </body>
</html>
