<!DOCTYPE html>
<html layout:decorate="~{default}">
  <head>
    <title th:text="${referendum.question}">
      Should we leave the EU?
    </title>
  </head>
  <body>
    <div layout:fragment="content">
      <h1 th:text="${referendum.question}">When will we rejoin the EU?</h1>
      <p th:text="${referendum.description}">
        For a number of reasons we want to rejoin the EU.
      </p>

      <h2>Categories</h2>
      <ul>
        <li th:each="cat : ${referendum.categories}" th:text="${cat.name}"></li>
      </ul>

      <p>
        Cast your vote
        <a th:href="@{/referendums/{id}/vote(id=${referendum.id})}">here</a>
      </p>

      <p>
        <a th:href="@{/referendums/{id}/results(id=${referendum.id})}"
          >View results</a
        >
      </p>
      <p>
        <a th:href="@{/referendums/{id}/edit(id=${referendum.id})}"
          >Edit this referendum</a
        >
      </p>
      <p>View more <a th:href="@{/}">referendums</a></p>
    </div>
  </body>
</html>
