<html layout:decorate="~{default}">
  <head>
    <title>Home</title>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
    <div layout:fragment="content">
      <h1>Reffy</h1>
      <p>
        Hello! It's
        <strong th:text="${#dates.format(date, 'd MMMM yyyy')}"
          >1st January</strong
        >
      </p>
      <p>
        There are <strong th:text="${referendumCount}">12</strong> referendums
        to vote on.
      </p>
      <div>
        <a
          th:each="category : ${categories}"
          th:text="${category.name}"
          th:href="@{/(categoryId=${category.id})}"
          >Immigration</a
        >
      </div>
      <ul>
        <li th:each="ref : ${referendums}">
          <h2 th:text="${ref.question}">What about this thing?</h2>
          <p th:text="${ref.description}">A wonderful description</p>
          <em
            ><a th:href="@{/referendums/{id}(id=${ref.id})}"
              >Read more...</a
            ></em
          >
        </li>
      </ul>
      <p>Make a <a th:href="@{/referendums/new}">new referendum</a></p>
    </div>
  </body>
</html>
