<html layout:decorate="~{default}">
  <head>
    <title>Home</title>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
    <div layout:fragment="content">
      <h1>Reffy</h1>
      <p>
        Hello! It's
        <strong th:text="${#dates.format(date, 'd MMMM yyyy')}"
          >1st January</strong
        >
      </p>
      <p>
        There are <strong th:text="${referendumCount}">12</strong> referendums
        to vote on.
      </p>
      <div>
        <h2>The latest</h2>
        <ul>
          <li th:each="ref : ${referendums}">
            <h3 th:text="${ref.question}">What about this thing?</h3>
            <p th:text="${ref.description}">A wonderful description</p>
            <em
              ><a th:href="@{/referendums/{id}(id=${ref.id})}"
                >Read more...</a
              ></em
            >
          </li>
        </ul>
      </div>
      <div>
        <h2>What matters to you?</h2>
        <ul>
          <li th:each="category : ${categories}">
            <a
              th:text="${category.name}"
              th:href="@{/referendums(categoryId=${category.id})}"
              >Immigration</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h2>Let your voice be heard</h2>
        <p>Submit a <a th:href="@{/referendums/new}">new referendum</a></p>
      </div>
    </div>
  </body>
</html>
